@import '../../node_modules/normalize.css/normalize.css';

$breakpoint-small: 768px;

body {
  background-color: #fafafa;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 16px;
}

strong {
  font-weight: 500;
}

p {
  line-height: 1.4;
}

.card {
  box-shadow: rgba(#000, .5) 2px 2px 20px 3px;
  margin: 20px auto;
  max-width: 600px;
}

.photoframe {
  img {
    width: 100%;
  }
}

.annoucement {
  padding: 20px 30px;
  text-align: right;

  h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 20px;
  }

  p {
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
